/* ID */
#unico{
	background: #CC0000;
}
/* TAG */
div{
	color: red;
	background: #ECECEC;
	padding: 20px;
	text-align: center;
}
/* CLASS */
.textoExemplo{
	background: #0000CC;
}

.artigo .cabecalho{
	
}