/* ID */
#unico{
	background: #CC0000;
}
/* TAG */
div{
	color: red;
	background: #ECECEC;
	padding: 20px;
	text-align: center;
}
/* CLASS */
.textoExemplo{
	background: #0000CC;
}
.cabecalho{
	color: blue;
	text-align: center;
	background: #aaa;
}
.artigo .cabecalho{
	color: green;
	text-align: left;
}
.artigo .cabecalho h3{

}
.artigo p{

}
.artigo .rodape{

}
.artigo .rodape a{

}
