
*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}

body, 
html{
	width: 100%;
	min-height: 100%;
	height: auto;
}

body{
	background-image: url("http://midia.iplay.com.br/Imagens/PapelDeParede/005510.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

p{
	margin-top: 5px;
	margin-bottom: 5px
}