@import url(estiloGlobais.css);

form#login{
	background: #DCD5C0;
	padding: 20px;
	position: relative;
	float: left;
	width: 290px;

	left: 50%;
	margin-left: -145px;
	margin-top: 50px;
    border-radius: 3px;
}
form#login input, 
form#login label{	
	position: relative;
	float: left;
	width: 100%;
	padding: 0px;
	padding: 10px 0px;
    text-align: center;
	
}

form#login label {
  color: #998C63;
  margin-top: 15px;
  font-size: 14px;
}

form#login input{
  padding-top: 10px;
  background: transparent;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #C2B58E;
}

form#login .widthAuto{
  width: auto;
}

form#login input[type="submit"]{
  background: #F34F29;
  height: 50px;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-top: 15px;
  font-size: 17px;
  transition: all ease 0.5s;
}
form#login input[type="submit"]:hover{
  background: #c76000;
  height: 100px
}
form#login input:focus{
  background: red;
}


.logotipo{
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  background-image: url("../imgs/git_logo.png");
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin: 20px 0px;
  font-size: 0px;
}
.logotipo.inverse{

}
#header .logotipo{

}
#footer .logotipo{
	
}
