@import url(estiloGlobais.css);
@import url(estilo.css);


.alunos{

	
	
	  text-align: left;
	  max-width: 380px;
	  background: #dedede;
	  height: 100%;
	  position: fixed;
	  float: left;
	  width: 380px;
	margin-left: -370px;
	transition: margin ease 0.5s;
	  z-index: 4000;
}

.alunos:hover{
	margin-left: -50px;
}

.alunos li{
	background: #cecece;
	padding: 10px 0px;
}


.alunos li:nth-child(odd){
	background: transparent;
}

